/* common styles start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 870px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
}

hr {
    border: 1px solid #d1d1d1;
    margin: 30px 0 30px 0;
}

/* common styles end */



/* top player section start */
.sectionTitle {
    color: #025464;
    font-size: 24px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.players .player {
    display: flex;
    align-items: center;
}

.players .player img {
    width: 56px;
    height: 56px;
    margin-right: 15px;
    transition: all ease 1s;
}

.players .player:hover img {
    transform: scale(.9);
}

.players .player h3 {
    font-size: 18px;
    font-weight: bold;
    transition: all ease 1s;
}

.players .player:hover h3 {
    letter-spacing: .4px;
}

/* top player section end */

/* top blogs section start */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.blogSection {
    margin: 0 0 30px 0;
}

.blog {
    display: flex;
    align-items: center;
}

.blogCover {
    border-radius: 10px;
    margin-right: 15px;
}

.blogCover img {
    width: 177px;
    height: 117px;
    transition: all ease 1s;
}

.blog:hover .blogCover img {
    transform: scale(1.02);
}

.blogInfo .blogTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.blogAuthor span {
    color: #d1d1d1;
    font-weight: bold;
}

.blogAuthor a {
    text-decoration: none;
    color: #025464;
    font-size: 14px;
    transition: all ease .5s;
}

.blogAuthor:hover a {
    color: #149ab5;
    text-decoration: underline;
}

/* top blogs section end */

/* latest course section start */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.course {
    width: 252px;
    height: 269px;
    border-radius: 15px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
    transition: all ease 1s;
}

.course:hover {
    transform: scale(.98) rotate(2deg);
}

.courseBanneer img {
    width: 100%;
    height: 104px;
}

.courseDetails {
    padding: 10px;
}

.courseTitle {
    font-size: 20px;
}

.courseAuthor a {
    font-size: 14px;
    margin: 10px 0 15px 0;
    display: inline-block;
    color: #025464;
    text-decoration: none;
    transition: all ease 1s;
}

.course:hover a {
    text-decoration: underline;
}



.courseInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #ED6B4F;
}

.fa-star.empty {
    color: #d1d1d1;
}

.courseRattings span {
    color: #A2A2A2;
}

.courseHour {
    background-color: rgba(2, 84, 100, .2);
    padding: 5px 10px;
    border-radius: 25px;
}

.fa-clock.clockStyle {
    color: #025464;
    margin-right: 5px;
    font-size: 14px;
}

.courseHour span {
    color: #025464;
    font-weight: bold;
}

/* latest course section end */









/* media quries start */
/* small device start */
@media screen and (max-width: 476px) {
    .container {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogSection {
        margin: 30px 0 10px 0;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
        align-items: start;
    }

    .blogCover {
        margin: 0;
    }

    .blogCover img {
        width: 100%;
        height: 100%;
    }



    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .course {
        width: 100%;
        height: 100%;
    }

    .courseBanneer img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 15px;
    }
}

@media screen and (min-width: 476.99px) and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }


    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .course {
        width: 100%;
        height: 100%;
    }

    .courseBanneer img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 15px;
    }
}

/* small device end */
/* mediam screen start */
@media screen and (min-width: 768.99px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .course {
        width: 100%;
        height: 100%;
    }

    .courseBanneer img {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-radius: 15px;
    }
}

/* mediam screen end */
/* media quries end */